<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <p class="logo"> <%= link_to 'Wikinimous', articles_path %></p>
      <%= link_to 'New Article', new_article_path %>
    </div>
    <%= yield %>
  </body>
</html>
